<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Tasks</title>
    <!--link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="color blue">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">My Tasks</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons left">person_add</i> REGISTRATE</a></li>
                    <li><a href="#"><i class="material-icons left">lock_open</i> INICIA SESIÓN</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#"><i class="material-icons left">person_add</i> REGISTRATE</a></li>
    <li><a href="#"><i class="material-icons left">lock_open</i> INICIA SESIÓN</a></li>               
  </ul>

    <main class="" id="app">
        <div class="container">
            <el-titulo></el-titulo>
            <div class="row">
                <div class="col s12 l12">
                    <div class="input-field col s12 l12">
                        <input v-model="entrada" v-on:keyup.enter="agregarTarea()" placeholder="Ingrese la tarea" type="text">
                        <button v-on:click="agregarTarea()" class="btn right">Agregar</button>
                    </div>
                </div>
                <div class="col s12 responsive-table">
                    <ul class="collection">
                        <li v-for="(t, index) in filtroAntiguedad" v-bind:class=" {'realizada': t.actividad}" class="collection-item">{{t.nombre}}
                            <span class="right">
                                <button  v-on:click="t.actividad = !t.actividad" class="btn-floating waves-effect waves-light green btn-small"><i class="material-icons">done</i></button>
                                <button  v-on:click="borrarTarea(index)" class="btn-floating waves-effect waves-light red btn-small"><i class="material-icons">close</i></button>
                            </span>
                        </li>
                    </ul>
                    <!-- <pre>
                        {{$data}}
                    </pre> -->
                </div>
            </div>
        </div>
    </main>

    
    
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/edicion.js"></script>
</body>
</html>